In [1]:
import sys
import math
import os
import tensorflow as tf
from  data_folder_split import mkdir ,des_path,load_image
import numpy as np
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [13]:
def convert_dataset(list_path, output_dir):
    fd = open(list_path)
    lines=[]
    for line in fd:
        line=line.split(',')
        lines.append(line)
    fd.close()
    output_path = os.path.join(output_dir,
        'data_{}.csv'.format('train'))
    print(output_path)
    #batch_size=len(lines)
    batch_size=5000
    save_arr = np.empty((batch_size, 128*128+1), dtype=np.str)
    #save_arr = pd.DataFrame(save_arr)
    for i in range(batch_size):
        image_data =open(lines[i][1], 'rb')
        image = load_image(image_data)
        image=np.append(image,int(lines[i][2].replace('\n','')))
        save_arr=np.row_stack((save_arr,image))
        image_data.close()
    save_arr = pd.DataFrame(save_arr) 
    save_arr.to_csv(output_path, decimal=',', encoding='utf-8', index=False, index_label=False)

In [14]:
TF_train_file_dir=des_path+'float_train/'
TF_eval_file_dir=des_path+'float_eval/'
mkdir(TF_train_file_dir)
mkdir(TF_eval_file_dir)
list_train_file_name=des_path+'list_train.txt'
list_eval_file_name=des_path+'list_val.txt'

../data/TMD/npz_train/float_train/
folder is exist
../data/TMD/npz_train/float_eval/
folder is exist

In [15]:
convert_dataset(list_train_file_name, TF_train_file_dir)
convert_dataset(list_eval_file_name, TF_eval_file_dir)

../data/TMD/npz_train/float_train/data_train.csv

MemoryError:

In [1]:
import tensorflow as tf
from data_folder_split import load_image 
import numpy as np
import pandas as pd
FLAGS = None

data_file = '../data/TMD/npz_train/float_train/data_train.csv'

train_data=pd.read_csv(data_file)

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [4]:
train_data.head()

,0,1,2,3,4,5,6,7,8,9,...,16375,16376,16377,16378,16379,16380,16381,16382,16383,16384
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN